ops/n8n/workflows/wr_interactive_start_mock.json
{
  "name": "IMPERIUM_WR_INTERACTIVE_START_MOCK",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "imperium/wr/interactive-start-mock",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "0b0e4bf8-6dbb-4a0c-926f-fd30f4d2aa01",
      "name": "Webhook - WR Start Mock",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -740,
        0
      ],
      "webhookId": "imperium-wr-interactive-start-mock"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst input = $input.first().json.body ?? $input.first().json;\nconst requiredFields = [\n  'task_id',\n  'session_id',\n  'task_type',\n  'week_start',\n  'week_end',\n  'callback_url',\n  'wr_attach_url',\n];\n\nfor (const field of requiredFields) {\n  if (!input[field]) {\n    throw new Error(`Missing required WR payload field: ${field}`);\n  }\n}\n\nif (input.task_type !== 'weekly_report.interactive.start') {\n  throw new Error(`Unsupported task_type for mock WR workflow: ${input.task_type}`);\n}\n\nif (!process.env.IMPERIUM_API_BASE_URL) {\n  throw new Error('Missing IMPERIUM_API_BASE_URL environment variable.');\n}\n\nif (!process.env.INTERNAL_WEBHOOK_SECRET) {\n  throw new Error('Missing INTERNAL_WEBHOOK_SECRET environment variable.');\n}\n\nconst callbackBody = {\n  result_type: 'weekly_report.summary',\n  result_payload: {\n    summary: 'Mock WR summary generated by n8n mock workflow.',\n    week_start: input.week_start,\n    week_end: input.week_end,\n    sections: [\n      {\n        title: 'Résumé mock',\n        content: 'Ce résumé est généré uniquement pour tester le contrat backend ↔ n8n.',\n      },\n    ],\n    questions: [\n      'Quel a été le point le plus important de ta semaine ?',\n      \"Qu'est-ce qui t'a le plus freiné ?\",\n      'Quelle décision veux-tu prendre pour la semaine prochaine ?',\n    ],\n  },\n  model_used: 'mock-n8n',\n  provider: 'n8n-mock',\n  confidence: 0.8,\n  raw_payload: {\n    workflow: 'IMPERIUM_WR_INTERACTIVE_START_MOCK',\n    source: 'mock',\n  },\n};\n\nconst rawBody = JSON.stringify(callbackBody);\nconst timestamp = Math.floor(Date.now() / 1000).toString();\nconst message = `${timestamp}.${rawBody}`;\nconst signature = crypto\n  .createHmac('sha256', process.env.INTERNAL_WEBHOOK_SECRET)\n  .update(message)\n  .digest('hex');\n\nreturn [\n  {\n    json: {\n      ...input,\n      aiCallbackRawBody: rawBody,\n      aiCallbackTimestamp: timestamp,\n      aiCallbackSignature: signature,\n      aiCallbackIdempotencyKey: `wr_mock_result_${input.task_id}`,\n    },\n  },\n];"
      },
      "id": "bc744047-98e7-4322-b44f-1f8547be8cf6",
      "name": "Validate Payload and Sign AI Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.IMPERIUM_API_BASE_URL + $json.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.aiCallbackTimestamp }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.aiCallbackSignature }}"
            },
            {
              "name": "Idempotency-Key",
              "value": "={{ $json.aiCallbackIdempotencyKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.aiCallbackRawBody }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b60cb693-2787-4f7e-9a0d-6eb6d781daca",
      "name": "POST AI Result Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst original = $('Validate Payload and Sign AI Result').first().json;\nconst callbackResponse = $('POST AI Result Callback').first().json;\n\nif (!callbackResponse.result_id) {\n  throw new Error('Backend AI result callback did not return result_id.');\n}\n\nconst attachBody = {\n  ai_result_id: callbackResponse.result_id,\n};\nconst rawBody = JSON.stringify(attachBody);\nconst timestamp = Math.floor(Date.now() / 1000).toString();\nconst message = `${timestamp}.${rawBody}`;\nconst signature = crypto\n  .createHmac('sha256', process.env.INTERNAL_WEBHOOK_SECRET)\n  .update(message)\n  .digest('hex');\n\nreturn [\n  {\n    json: {\n      session_id: original.session_id,\n      wr_attach_url: original.wr_attach_url,\n      result_id: callbackResponse.result_id,\n      attachRawBody: rawBody,\n      attachTimestamp: timestamp,\n      attachSignature: signature,\n      attachIdempotencyKey: `wr_mock_attach_${original.session_id}_${callbackResponse.result_id}`,\n    },\n  },\n];"
      },
      "id": "ee78fc12-643d-427d-9da2-a3b8d7dd5b44",
      "name": "Sign WR Attach Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.IMPERIUM_API_BASE_URL + $json.wr_attach_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.attachTimestamp }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.attachSignature }}"
            },
            {
              "name": "Idempotency-Key",
              "value": "={{ $json.attachIdempotencyKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.attachRawBody }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "8f8f0f02-b0db-4c9c-b428-7cb2349b46df",
      "name": "POST WR Attach Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        0
      ]
    }
  ],
  "connections": {
    "Webhook - WR Start Mock": {
      "main": [
        [
          {
            "node": "Validate Payload and Sign AI Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload and Sign AI Result": {
      "main": [
        [
          {
            "node": "POST AI Result Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST AI Result Callback": {
      "main": [
        [
          {
            "node": "Sign WR Attach Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign WR Attach Request": {
      "main": [
        [
          {
            "node": "POST WR Attach Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "imperium"
    },
    {
      "name": "weekly-review"
    },
    {
      "name": "mock"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-30T00:00:00.000Z",
  "versionId": "patch-2d-wr-interactive-start-mock"
}
